# Object  Position  Normal  Angle_n  Radius  Color      Specular  Reflection
Window    1000  800
Camera    0,0,-10   0,0,1   0,0,0
Light     0,0,0                      0.15    255,255,255  Ambient
Light     10,10,0                     0.8    255,255,255  Point
Ligh     -20,20,30                   0.6    255,255,255  Point
Sphere    0,-10,30                     10    178,34,34    500      0.4
Sphere    20,0,40                      12    60,179,113    400      0.7
Sphere   -20,0,40                       8    65,105,225    800      0.5
